<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MonitorMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.module.Monitor">
        <id column="id" property="id"/>
        <result column="the_geom" property="the_geom"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="fzr" property="fzr"/>
        <result column="tel" property="tel"/>
        <result column="type" property="type"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="isDelete" property="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, ST_AsText(the_geom) AS the_geom, name, code, fzr, tel, type, createTime, updateTime, isDelete
    </sql>

    <select id="getMonitor" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM monitor_equipment where isDelete = 0
    </select>
</mapper>
